/* Custom Property */
:root{
  --primary:#ea625c;
  --primary-dark: #c9514c;
  --text-color:#333;
}







/* GLOBAL */

html{
   box-sizing:border-box;
   height:100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Roboto","Arial",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color:#fff;
color:#222;
}

img{
  max-width: 100%;
  height: auto;
}

*:focus{
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}



.container{
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* Buttoon */
.button{
  display: inline-block;
  min-width: 260px;
  padding: 12px 38px;
  border-radius:10px;
  background-color:var(--primary);
  color:#fff;
  font-size: 18;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3 ease;
}

.button:hover{
  background-color:var(--primary-dark);
}

.button:active{
  opacity: 0.6;
}

/* BUtton */
.lined-link{
  display: inline-flex;
  align-items:center;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  color:var(--primary);
  text-transform: uppercase;
  text-decoration: none;
}

.lined-link::before{
width: 40px;
height: 3px;
margin-right: 10px;
background-color:var(--primary);
content:"";
transition: width 0.3s ease;
}

.lined-link:hover::before{
  width: 60px;
}





/* MAinContent */
.main-content{
 flex-grow: 1;
}


/* SITE-HEader */

.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-container {
  display: flex;
align-items: center;
}


.container {
}
.site-header-logo {
margin-right: auto;
transition: opacity 0.3s ease;

}

.site-header-logo:hover{
opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}

.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}



/* SiteNav */
.sitenav {
  margin-right: 40px;
}
.sitena-list {
  display: flex;
  align-items:center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 30px;
}

.sitenav-link {
display: block;
padding-top: 6px;
padding-bottom: 3px;
border-bottom:3px solid transparent;
font-size: 15px;
color:#333;
text-decoration: none;
transition: border-bottom 0.3s ease;
}

.sitenav-link:hover{
  border-bottom:3px solid #333;
}

/* SEARCH_FORM */
.search-form-input {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #333;
}

.hero{
padding-top: 140px;
padding-bottom: 185px;
border-bottom:2px solid #ddd;
background-image: url("../img/content-block-md-applewatch-lockup_2x.png");
background-repeat: no-repeat;
background-position: left calc(50% + 350px) center;
}

.lead-cta{
  width: 100%;
  max-width: 490px;
}

.lead-cta-heading{
margin-top: 0;
margin-bottom: 30px;
font-size: 50px;
line-height: 1.2;
color:#000;
}

.lead-cta-white .lead-cta-heading{
  color:#fff;
}

.lead-cta-text{
  padding-left: 37px;
  border-left: 3px solid #888;
  margin-top: 0;
  margin-bottom: 30px;
  color:#777;
}

.lead-cta-white .lead-cta-text{
  border-color: #fff;
  color:#fff;
}


/* Features */

.features{
  padding-top: 70px;
  padding-bottom: 70px;

}

.features-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-item{
  width: 280px;
}


.features-item:not(:last-child){
  margin-right: 80px;
}

.features-heading{
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
  color:#222;
  text-transform: uppercase;
}

.features-text{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.6;
  color:#333;
}

.features-divider{
  width: 8px;
  height: 8px;
  border:0;
  margin: 0;
  background-color:#ddd;
  box-shadow: 16px 0 0 0 #ddd,
  32px 0 0 0 #ddd;
}

/* Promo */

.promo {
  padding-top: 70px;
  padding-bottom: 70px;
}
.promo-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.promo-img {
  width: 400px;
  border-radius: 10px;
  height: 600px;
  object-fit: cover;
}

/* Runnners */

.runners {
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("../img/8082c9ce6a6f4f6094a6ca2a9cb72d1e.webp");
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.runners-lead-cta {
  margin-left: auto;
}
